[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.4"
django = "==3.2.10"
django-cors-headers = "*"
django-environ = "*"
psycopg2-binary = "*"
gunicorn = "*"
google-cloud-tasks = "==2.7.1"
google-cloud-secret-manager = "==2.7.1"
django-storages = {extras = ["google"], version = "1.12.3"}
drf-yasg = "==1.20.0"
pillow = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
