[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
proto-plus = "==1.19.6"
djangorestframework = "==3.12.4"
django = "*"
django-cors-headers = "*"
django-environ = "*"
psycopg2-binary = "*"
gunicorn = "*"
requests = "*"
google-cloud-tasks = "*"
google-cloud-secret-manager = "*"
pillow = "*"
django-storages = {extras = ["google"], version = "*"}
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.8"
